body {
  position: relative;
}

.nav-section {
  width: 100%;
  background: transparent;
  top: 0;
  position: fixed;  
}

nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px 1fr 150px 150px 150px;
  grid-template-rows: 75px;
  align-items: center;
}

.nav-logo {
  grid-column: 1;
  text-align: center;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 700;
}

.nav-item {
  text-align: center;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

nav a {
  color: white;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: .3s all ease-in-out;
}

.scrolled{
  background: white !important;
  color: #161616;
}

.a-scrolled {
    color:#161616;
}

.main-section {
  display: grid;
  grid-template-columns: auto;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url(../media/IMG_3130.jpeg);
  background-size: cover;
  background-attachment: scroll;
}

.main-item {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}

#main h1 {
  font-family: 'Varela Round';
  font-size: 104px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .5);
  letter-spacing: 0.8rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#main h2 {
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, .5);
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.services-section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px auto auto auto
}

.services-header{
  grid-column: 2;
  
  text-align: center;
  padding-top: 40px;   
}

.about-section {
  display: grid;
  grid-template-columns: auto auto auto;
  background: red;
}

.about-header{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  text-align: center;
  padding-top: 40px;   
}

.contact-section {
  display: grid;
  grid-template-columns: auto auto auto;
}

.contact-header{
  grid-column: 2;
  text-align: center;
  padding-top: 40px;   
}

footer {
  display: grid;
  background: #212529;
  grid-template-columns: auto;
  text-align: center;
  height: 50px;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}